body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(233, 47%, 7%);
}
h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
}
h2 {
    color: white;
}
.insight {
    color: hsl(277, 64%, 61%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 18px;
    line-height: 28px;
}
.container {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: row;
    padding: 100px;
}
.box, .images {
    width: 48%;}
.box {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 5% 0 0 5%;
}
.images{
    display: flex;
    position: relative;
}
article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
picture {
    width: 100%;
    height: 100%;
}
.img1, .img2 {
    width: 100%;
    height: 100%;
    border-radius: 0 5% 5% 0;
}
.highlight {
    position: absolute;
    background-color: hsl(273, 64%, 56%);
    opacity: 60%;
    width:100%;
    height: 100%;
    top: 0;
    border-radius: 0 5% 5% 0;
    cursor: pointer;
}
.highlight:hover {
    opacity: 40%;
    cursor: pointer;
    position: absolute;
    background-color: hsl(277, 64%, 55%);
    opacity: 50%;
    width:100%;
    height: 100%;
    top: 0;
    border-radius: 0 5% 5% 0;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    background-color:  hsl(244, 38%, 20%);
}
.ints {
    padding: 25px;
}
.para-ints {
    font-size: 12px;
}


@media (max-width: 600px) {
    body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: hsl(233, 47%, 7%);
    }
    h1 {
        color: white;
        font-size: 32px;
        font-weight: 600;
    }
    h2 {
        color: white;
    }
    .insight {
        color: hsl(277, 64%, 61%);
    }
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 16px;
        line-height: 25px;
    }
    .container {
        background-color: hsl(233, 47%, 7%);
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .box, .images {
        width: auto;
    }
    .box {
        background-color: hsl(244, 38%, 16%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 20px;
        border-radius: 0 0 5% 5%;
        text-align: center;
    }
    .images{
        display: flex;
        position: relative;
        border-radius:  0 0 5% 5%;
    }
    .img1, .img2 {
        width: 100%;
        height: 100%;
        border-radius: 5% 5% 0 0;
    }
    .highlight {
        position: absolute;
        background-color: hsl(277, 64%, 55%);
        opacity: 60%;
        width:100%;
        height: 100%;
        top: 0;
        border-radius: 5% 5% 0 0;
        cursor: pointer;
    }
    .highlight:hover {
        opacity: 40%;
        cursor: pointer;
        position: absolute;
        background-color: hsl(277, 64%, 55%);
        opacity: 50%;
        width:100%;
        height: 100%;
        top: 0;
        border-radius: 5% 5% 0 0;
    }
    .details {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        align-content: space-between;
        flex-direction: column;
        border-radius: 10px;
        background-color:  hsl(244, 38%, 20%);
    }
    .ints {
        padding: 0 20px;
    }
    .para-ints {
        font-size: 12px;
    }
}
