body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(233, 47%, 7%);
}
h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
}
.insight {
    color: hsl(277, 64%, 61%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 18px;
    line-height: 28px;
}
.container {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: row;
    padding: 100px;
}
.box, .images {
    width: 48%;}
.box {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 5% 0 0 5%;
}
.images{
    display: flex;
    position: relative;
    border: none;
}
article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}
picture {
    width: 100%;
    height: 100%;
}
.img1, .img2 {
    width: 100%;
    height: 100%;
    border-radius: 0 5% 5% 0;
}
.highlight {
    position: absolute;
    background-color: hsl(277, 64%, 61%);
    opacity: 50%;
    width:100%;
    height: 100%;
    top: 0;
    border-radius: 0 5% 5% 0;
    cursor: pointer;
}
.highlight:hover {
    background-color: hsl(277, 64%, 55%);
    opacity: 60%;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    background: transparent;
}
.ints {
    margin: 0 2.4rem;
}
.vals {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}
.para-ints {
    font-size: 12px;
    font-weight: 300;
    margin-top: 6px;
    color: hsla(0, 0%, 100%, 0.75);
}


@media (max-width: 600px) {
    body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: hsl(233, 47%, 7%);
    }
    h1 {
        color: white;
        font-size: 32px;
        font-weight: 600;
    }
    h2 {
        color: white;
    }
    .insight {
        color: hsl(277, 64%, 61%);
    }
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 16px;
        line-height: 25px;
    }
    .container {
        background-color: hsl(233, 47%, 7%);
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .box, .images {
        width: auto;
    }
    .highlight, .img1, .img2 {
        border-radius: 5% 5% 0 0;
    }
    .box {
        padding: 20px;
        border-radius: 0 0 5% 5%;
    }
    .details {
        justify-content: center;
        align-items: cnter;
        flex-direction: column;
    }
    .ints {
        margin: 0.8rem 0;
    }
    .para-ints {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
